.red{
   background: red;
   padding: 10px;
   border-radius: 10px;
   color: white;
}
.orange{
   background: orange;
   padding: 10px;
   border-radius: 10px;
   color: white;
}
.teal{
   background: teal;
   padding: 10px;
   border-radius: 10px;
   color: white;
}
.blue{
   background: blue;
   padding: 10px;
   border-radius: 10px;
   color: white;
}
.purple{
   background: purple;
   padding: 10px;
   border-radius: 10px;
   color: white;
}
.green{
   background: green;
   padding: 10px;
   border-radius: 10px;
   color: white;
   
}